/*
 * Content
 * Core
 * Global
 * Utility
/*


/* ---------------- *\
        Core
\* ---------------- */

/* Default Style */
* {
  box-sizing: border-box;
  position: relative;
}

body {
  font-size: 16px;
  font-weight: 300;
  font-family: "微軟正黑體", "Noto Sans TC", Helvetica, sans-serif, "Arial";
  color: black;
  color: grayh;
}

a {
  color: rgb(70, 70, 231);
  text-decoration: none;
  outline: none;

  &:hover {
    color: purple;
  }
}

/* Heading Style */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  margin: 0;
}
/* font family */
h1,
.h1,
.heading-1 {
  font-family: "Noto Sans TC";
  font-size: 56px;
  letter-spacing: 3px;
  font-weight: 800;
}
h2,
.h2,
.heading-2 {
  font-family: "Noto Sans TC";
  font-size: 48px;
  letter-spacing: 2.5px;
  font-weight: 700;
}
h3,
.h3,
.heading-1 {
  font-family: "Noto Sans TC";
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 700;
}
h4,
.h4,
.heading-4 {
  font-family: "Noto Sans TC";
  font-size: 32px;
  letter-spacing: 1.5px;
  font-weight: 600;
}
h5,
.h5,
.heading-5 {
  font-family: "Noto Sans TC";
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 500;
}
h6,
.h6,
.heading-6 {
  font-family: "Noto Sans TC";
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

/* List Style */
ul {
  list-style-type: none;
  margin: 0;
  margin: 0;
}

/* background color */
.bgc--default {
  background-color: black;
}
.bgc--primary {
  background-color: gray;
}
.bgc--secondary {
  background-color: burlywood;
}
.bgc--positive {
  background-color: rgb(88, 240, 88);
}

.bgc--negative {
  background-color: red;
}

.bgc--alert {
  background-color: pink;
}
.bgc--black {
  background-color: black;
}
.bgc--gray {
  background-color: gray;
}
.bgc--purple {
  background-color: purple;
}
.bgc--blue {
  background-color: blue;
}
.bgc--yellow {
  background-color: rgb(134, 134, 55);
}
.bgc--pink {
  background-color: pink;
}
.bgc--white {
  background-color: white;
}
.bgc--orange {
  background-color: orange;
}
.bgc--red {
  background-color: red;
}
.bgc--brown {
  background-color: brown;
}

/* color */
.color--default {
  color: black;
}
.color--primary {
  color: gray;
}
.color--secondary {
  color: burlywood;
}
.color--positive {
  color: rgb(88, 240, 88);
}

.color--negative {
  color: red;
}

.color--alert {
  color: pink;
}

.color--black {
  color: black;
}
.color--green {
  color: green;
}
.color--gray {
  color: gray;
}
.color--purple {
  color: purple;
}
.color--blue {
  color: blue;
}
.color--yellow {
  color: rgb(134, 134, 55);
}
.color--pink {
  color: pink;
}
.color--white {
  color: white;
}
.color--orange {
  color: orange;
}
.color--red {
  color: red;
}
.color--brown {
  color: brown;
}

/* ---------------- *\
        Utility
\* ---------------- */

/* padding */
.u-padding-4 {
  padding: 4px !important;
}
.u-padding-8 {
  padding: 8px !important;
}

.u-padding-12 {
  padding: 12px !important;
}

.u-padding-16 {
  padding: 16px !important;
}

.u-padding-24 {
  padding: 24px !important;
}

.u-padding-32 {
  padding: 32px !important;
}
.u-padding-48 {
  padding: 48px !important;
}

.u-padding-64 {
  padding: 64px !important;
}

.u-pt-4 {
  padding-top: 4px !important;
}
.u-pt-8 {
  padding-top: 8px !important;
}
.u-pt-12 {
  padding-top: 12px !important;
}
.u-pt-16 {
  padding-top: 16px !important;
}
.u-pt-24 {
  padding-top: 24px !important;
}
.u-pt-32 {
  padding-top: 32px !important;
}
.u-pt-48 {
  padding-top: 48px !important;
}
.u-pt-64 {
  padding-top: 64px !important;
}

.u-pr-4 {
  padding-right: 4px !important;
}
.u-pr-8 {
  padding-right: 8px !important;
}
.u-pr-12 {
  padding-right: 12px !important;
}
.u-pr-16 {
  padding-right: 16px !important;
}
.u-pr-24 {
  padding-right: 24px !important;
}
.u-pr-32 {
  padding-right: 32px !important;
}
.u-pr-48 {
  padding-right: 48px !important;
}
.u-pr-64 {
  padding-right: 64px !important;
}

.u-pb-4 {
  padding-bottom: 4px !important;
}
.u-pb-8 {
  padding-bottom: 8px !important;
}
.u-pb-12 {
  padding-bottom: 12px !important;
}
.u-pb-16 {
  padding-bottom: 16px !important;
}
.u-pb-24 {
  padding-bottom: 24px !important;
}
.u-pb-32 {
  padding-bottom: 32px !important;
}
.u-pb-48 {
  padding-bottom: 48px !important;
}
.u-pb-64 {
  padding-bottom: 64px !important;
}

.u-pl-4 {
  padding-left: 4px !important;
}
.u-pl-8 {
  padding-left: 8px !important;
}
.u-pl-12 {
  padding-left: 12px !important;
}
.u-pl-16 {
  padding-left: 16px !important;
}
.u-pl-24 {
  padding-left: 24px !important;
}
.u-pl-32 {
  padding-left: 32px !important;
}
.u-pl-48 {
  padding-left: 48px !important;
}
.u-pl-64 {
  padding-left: 64px !important;
}

/* margin */
.u-margin-4 {
  margin: 4px !important;
}
.u-margin-8 {
  margin: 8px !important;
}

.u-margin-12 {
  margin: 12px !important;
}

.u-margin-16 {
  margin: 16px !important;
}

.u-margin-24 {
  margin: 24px !important;
}

.u-margin-32 {
  margin: 32px !important;
}
.u-margin-48 {
  margin: 48px !important;
}

.u-margin-64 {
  margin: 64px !important;
}

.u-mt-4 {
  margin-top: 4px !important;
}
.u-mt-8 {
  margin-top: 8px !important;
}
.u-mt-12 {
  margin-top: 12px !important;
}
.u-mt-16 {
  margin-top: 16px !important;
}
.u-mt-24 {
  margin-top: 24px !important;
}
.u-mt-32 {
  margin-top: 32px !important;
}
.u-mt-48 {
  margin-top: 48px !important;
}
.u-mt-64 {
  margin-top: 64px !important;
}

.u-mr-4 {
  margin-right: 4px !important;
}
.u-mr-8 {
  margin-right: 8px !important;
}
.u-mr-12 {
  margin-right: 12px !important;
}
.u-mr-16 {
  margin-right: 16px !important;
}
.u-mr-24 {
  margin-right: 24px !important;
}
.u-mr-32 {
  margin-right: 32px !important;
}
.u-mr-48 {
  margin-right: 48px !important;
}
.u-mr-64 {
  margin-right: 64px !important;
}

.u-mb-4 {
  margin-bottom: 4px !important;
}
.u-mb-8 {
  margin-bottom: 8px !important;
}
.u-mb-12 {
  margin-bottom: 12px !important;
}
.u-mb-16 {
  margin-bottom: 16px !important;
}
.u-mb-24 {
  margin-bottom: 24px !important;
}
.u-mb-32 {
  margin-bottom: 32px !important;
}
.u-mb-48 {
  margin-bottom: 48px !important;
}
.u-mb-64 {
  margin-bottom: 64px !important;
}

.u-ml-4 {
  margin-left: 4px !important;
}
.u-ml-8 {
  margin-left: 8px !important;
}
.u-ml-12 {
  margin-left: 12px !important;
}
.u-ml-16 {
  margin-left: 16px !important;
}
.u-ml-24 {
  margin-left: 24px !important;
}
.u-ml-32 {
  margin-left: 32px !important;
}
.u-ml-48 {
  margin-left: 48px !important;
}
.u-ml-64 {
  margin-left: 64px !important;
}

/* text */
.u-text-center {
  text-align: center !important;
}
.u-text-right {
  text-align: right !important;
}
.u-text-left {
  text-align: left !important;
}

/* float */
.u-pull-left {
  float: left !important;
}
.u-push-right {
  float: right !important;
}

/* hide & show */
.u-hidden {
  display: none !important;
}
.u-show {
  display: block !important;
}

/* center block */
.u-center-block {
  display: block !important;
  margin-left: auto !important;
  margin-right: autp !important;
}
